# ---------------------------------------------------------------------------- #
#                                     code                                     #
# ---------------------------------------------------------------------------- #

*.o
main.*
test*
a.out

# ---------------------------------------------------------------------------- #
#                                   Codexion                                   #
# ---------------------------------------------------------------------------- #

codexion